#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;


}

.main_body{
    padding: 0 5% 20px 5%;
}

/* /\/\/\/\/\/\/\/\ Header /\/\/\/\/\/\/\/\ */
.header_section{
  text-align: start;

}

/* /\/\/\/\/\/\/\/\ Navigation Bar /\/\/\/\/\/\/\/\ */
.nav_bar{
  display: flex;
  width: 100%;

  background-color: #212122 ;
    
}

ul{
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #e7cb6f;
  font-weight: 500;
}

h1,  h2{
  font-size: 2.2em;
  line-height: 1.1;
  color: rgb(40, 40, 40);
}

h3, p {

  color: rgb(40, 40, 40);
}

.article_card{
  display: flex;
  flex-direction: column;

  justify-content: start;

  
}

.article_pane{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  padding: 10px 50px;

  border-bottom: 1px solid rgb(218, 217, 100);
  border: 1px solid rgba(228, 221, 221, 0.408);
}

.article_title{
  margin: 2px;

}

.article_text{
  margin: 0;

}

.about_section{
  display: flex;
  flex-direction: column;
}

.section_list{
  border: 2px solid #cccccc16;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.section_list li{
  border-bottom: 2px solid #cccccc11;
  margin: 10px;
}




.about_section{
  text-align: start;
}

.text_link{
  color: blue;
}
