*{
  box-sizing: border-box;  
  text-align: start;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;


}

.main_body{
    padding: 0 5% 20px 5%;
}

/* /\/\/\/\/\/\/\/\ Header /\/\/\/\/\/\/\/\ */
.header_section{
  text-align: start;
  margin-bottom: 20px;

}

.header_title{
  font-size: 2.2em;
  line-height: 1.1;
  color: rgb(40, 40, 40);

}

/* /\/\/\/\/\/\/\/\ Navigation Bar /\/\/\/\/\/\/\/\ */
.nav_bar{
  display: flex;
  width: 100%;

  background-color: #212121 ;
    
}

ul{
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #e7cb6f;
  font-weight: 500;
}

h1,  h2{
  
}

.section_title{
  font-size: 1.5em;
  line-height: 1.1;
  color: rgb(40, 40, 40);
  
  margin-bottom: 0px;
  margin-top: 0px;
}

p {

  color: rgb(40, 40, 40);
}

.article_card{
  display: flex;
  flex-direction: column;

  justify-content: start;

}

.article_pane{
  display: flex;
  flex-direction: column;
  align-items: start;

}

.article_title{
  color: rgb(40, 40, 40);

}

.article_text{
  margin: 0;
  color: rgb(40, 40, 40);

}

.section_container{
  display: flex;
  flex-direction: column;

  justify-content: start;
  align-items: start;
  text-align: left;


}

.section_list{
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;

}

.section_list li{
  border-bottom: 2px solid #cccccc11;
  margin: 5px;

}

.section_text{

  margin: auto;
}

.sub_title{
  margin: 20px 0 0 0;
  color: rgb(40, 40, 40);
}


.text_link{
  color: blue;
}

.edit_button{
  align-self: end;
  padding: 10px;
  text-align: center;
  width: 10em;
  border-radius: 10px;
  background-color: #212121;
}

.edit_button:hover{
  padding: 10px;
  width: 10em;

  border-radius: 10px;
  background-color: #212121;
}
