#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

}


/* /\/\/\/\/\/\ Navigation Bar /\/\/\/\/\/\ */
.nav_bar{
  display: flex;
  width: 100%;

  background-color: #212122 ;
    
}



ul{
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  list-style-type: none;
  
}

a {
  color: white;
  text-decoration: none;
}


a:hover {
  color: #e7cb6f;
  font-weight: 500;
}



h1,  h2{
  font-size: 2.2em;
  line-height: 1.1;
  color: rgb(40, 40, 40);
}

h3, p{

  color: rgb(40, 40, 40);
}

.article_card{
  border: 4px dashed red;
  display: flex;
  flex-direction: column;

  justify-content: start;
  
}

.article_link{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  padding: 10px 50px;

  border: 4px dashed green;
}

