*{
  box-sizing: border-box;  
  text-align: start;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;


}

.main_body{
    padding: 0 5% 20px 5%;
}

/* /\/\/\/\/\/\/\/\ Header /\/\/\/\/\/\/\/\ */
.header_section{
  text-align: start;
  margin-bottom: 20px;

}

.header_title{
  font-size: 2.2em;
  line-height: 1.1;
  color: rgb(40, 40, 40);

}

/* /\/\/\/\/\/\/\/\ Navigation Bar /\/\/\/\/\/\/\/\ */
.nav_bar{
  display: flex;
  width: 100%;

  background-color: #212121 ;
    
}

ul{
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #e7cb6f;
}


.section_title{
  font-size: 1.5em;
  line-height: 1.1;
  color: rgb(40, 40, 40);
  
  margin-bottom: 1em;
  margin-top: 0px;
}

p {
  color: rgb(40, 40, 40);
}

.article_list{
  display: flex;
  flex-direction: column;

  justify-content: start;
}

.article_pane{
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 20px;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow:  0 5px 5px #adadad64;

}

.article_pane:nth-child(odd){
  background-color: rgb(239, 247, 249);
}
.article_pane:nth-child(even){
  background-color: rgba(184, 219, 231, 0.052);

}

.article_title{
  color: rgb(40, 40, 40);

}

.article_text{
  color: rgb(40, 40, 40);

}

.section_container{
  display: flex;
  flex-direction: column;

  justify-content: start;
  align-items: start;
  text-align: left;

}

.section_header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  border: none;
}

.section_title{
  
  border: none;
  
}

.section_list{
  display: flex;
  flex-direction: column;

  margin: auto;
  border: 2px solid green;

}

.section_text{

  margin: auto;

}

.sub_title{
  margin: 20px 0 0 0;
  color: rgb(40, 40, 40);
}


.text_link{
  color: blue;
}

.edit_button{
  width: auto;
  text-align: center;
  border-radius: 10px;
  padding: 1em 1em;
  background-color: #212121;
  box-shadow: 0 8px 10px  #21212163;
  
  border: none;

}

.edit_button:hover{


  background-color: #212121ed;
  box-shadow: 0 4px 10px  #212121c7;
}

.article_list_head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;


}



.upvote_button{
  margin: 0 0 1rem 1rem;
  padding: 1em;
  border-radius: 10px;
}

.article_head{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment_form{
  display: flex;
  flex-direction: column;
  width: 100%;

  align-content: center;
  justify-items: center;

  border: 1px solid black;
  
}

.add_comment{
  display: flex;
  padding: 5px;
  width: 125px;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 2px 2px #adadad64;
  align-self: center;

}

.article_title_input{
  margin-left: 1em;
  width: 30%;
  min-width: 200px;

}

.article_text_input{
  margin-left: 1em;
  width: 90%;
}



.add_button{
  background-color: rgb(62, 62, 62);
  font-weight: 5000;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

.new_article_form{
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

.input_field{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}



.article_title_input{
  height: 2em;
  width: 30%;
  min-width: 20em;

  border-radius: 8px;
  padding: 2em;
  background-color: rgb(221, 221, 221);
  color: black;
  
}

.article_text_input{
  height: 10em;
  border-radius: 8px;
  padding: 2em;
  background-color: rgb(221, 221, 221);
  color: black;
  
}

.article_image{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid rgba(255, 0, 13, 0.032);

  box-shadow: 0 8px 8px rgba(0, 0, 255, 0.135);
}

